.input,
.textarea {
  color: var(--color-slate-500);
  outline: none;
}

.textarea {
  padding: --spacing(4) --spacing(4);
  border: 1px solid var(--color-slate-200);
  border-radius: var(--radius-md);
  resize: none;
}

.input::placeholder {
  color: var(--color-slate-400);
}
