.input,
.textarea {
  border-radius: var(--radius-md);
  border: 1px solid var(--color-fuchsia-200);
  padding: --spacing(2) --spacing(4);
  color: var(--color-slate-500);
  outline: none;
}

.textarea {
  resize: none;
}

.input::placeholder {
  color: var(--color-slate-400);
}
