@import "./components/button.css";
@import "./components/input.css";

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: calc(var(--vh) * 100);

  overflow: hidden;
}

.link {
  font-size: var(--text-sm);
  color: var(--color-primary);
}

#index-image {
  background: url("/bg-image.jpg");
  background-size: cover;
  background-position-x: -50px;
}

#app-main-heading {
  font-family: Playfair;
}

.token-value {
  font-family: Playfair;
}

.h-pad {
  padding-inline: --spacing(4);
}

@media screen and (min-width: 360px) {
  .h-pad {
    padding-inline: --spacing(4);
  }
}

@media screen and (min-width: 700px) {
  .h-pad {
    padding-inline: --spacing(16);
  }
}

@media screen and (min-width: 1000px) {
  .h-pad {
    padding-inline: --spacing(32);
  }
}

@media screen and (min-width: 1200px) {
  .h-pad {
    padding-inline: --spacing(64);
  }
}

@keyframes SlideUp {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transfrom: translateY(0);
  }
}

@keyframes SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  0% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ScaleIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
