@import './components/button.css';
@import './components/input.css';

a {
  font-size: var(--text-sm);
  color: var(--color-primary);
}

body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-100);
}

#index-image {
  background: url('/bg-image.png');
  background-size: cover;
  background-position-x: -50px;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

@keyframes SlideUp {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transfrom: translateY(0);
  }
}

@keyframes SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  0% {
    opacity: 1;
    transform: translateX(0);
  }
}
