@import 'tailwindcss';
@import './style/main.css';

@theme {
  --animate-slide-up: SlideUp 0.2s ease-out;
}

body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-100);
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

@keyframes SlideUp {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transfrom: translateY(0);
  }
}

@keyframes SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  0% {
    opacity: 1;
    transform: translateX(0);
  }
}
